/* Variables
   ========================================================================== */

/**
 * Normalize
*/

$font-family-base: 'Roboto', 'Arial', sans-serif !default;
$font-size-base: 16px;
$line-height-base: 1.3333;
$dt-font-weight: 400;
$link-decoration: underline;
$link-hover-decoration: none;
$link-transition: all 0.3s ease;
$cursor-disabled: not-allowed;

/**
 * Color
*/

/* Theme Color */
$c-default: #212529 !default;
$c-primary: #0aa7a7 !default;
$c-primary-dark: #557d10 !default;
$c-success: #28a745 !default;
$c-warning: #ffc107 !default;
$c-danger: #dc3545 !default;
$c-white: #fff !default;
$c-black: #000 !default;
$c-orange: #f18e00 !default;
$c-gray: #c2c2c2 !default;
$c-brown: #784700 !default;

/**
 * Gap
*/
$gap-s: 10px;
$gap: 15px;
$gap-l: 20px;

/**
 * Size
*/
