.unstyle-list {
  padding: 0;
  margin: 0;
}

// flex
.flex {
  display: flex;
  &.flex-wrap {
    flex-wrap: wrap;
  }
  &.justify-end {
    justify-content: flex-end;
  }
  &.items-center {
    align-items: center;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}
// text
.font-normal {
  font-weight: 400;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.primary-title {
  font-size: 24px;
}
.plain-title {
  font-size: 18px;
}
.small-title {
  font-size: 14px;
}
.description-title {
  @extend .font-normal;
  color: $c-green-600;
  padding-bottom: $gap-lg;
  border-bottom: 2px solid $c-green-600;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// .content-title {
//   // @extend .font-normal;
//   padding-left: $gap;
//   border-left: 4px solid $c-green-600;
// }
// link
.card-link {
  color: $c-gray-500;
}
.text-link-black {
  color: $c-gray-500;
}
.text-link-white {
  color: $c-white;
}
.text-link-black,
.text-link-white {
  &:hover {
    color: $c-green-600;
  }
}
.text-link {
  color: $c-green-600;
}
// border
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-full {
  border-radius: 9999px;
}
.border-gray {
  border: $solid-gray;
}
.border-b-gray {
  border-bottom: $solid-gray;
}

// shadow

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
// image
.image-holder {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.overflow-hidden {
  overflow: hidden;
}
// color

.text-gray-400 {
  color: $c-gray-400;
}
.text-gray-600 {
  color: $c-gray-600;
}
.text-gray-700 {
  color: $c-gray-700;
}

.text-green-600 {
  color: $c-green-600;
}
// line
.v-line {
  display: inline-block;
  width: 1px;
  height: 12px;
  vertical-align: middle;
  background: $c-gray-300;
  margin: 0 $gap-sm;
}
// width
.max-w-full {
  max-width: 100% !important;
}
