.unstyle-list {
  padding: 0;
  margin: 0;
}

// flex
.flex {
  display: flex;
  &.flex-wrap {
    flex-wrap: wrap;
  }
  &.justify-end {
    justify-content: flex-end;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}
// text
.text-right {
  text-align: right;
}
// link
.card-link {
  color: $c-default;
}
.text-link-black {
  color: $c-default;
}
.text-link-white {
  color: $c-white;
}
.text-link-black,
.text-link-white {
  &:hover {
    color: $c-primary;
  }
}
