.unstyle-list {
  padding: 0;
  margin: 0;
}

// flex
.flex {
  display: flex;
  &.flex-wrap {
    flex-wrap: wrap;
  }
  &.justify-end {
    justify-content: flex-end;
  }
  &.items-center {
    align-items: center;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}
// text
.font-normal {
  font-weight: 400;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-right {
  text-align: right;
}
.primary-title {
  font-size: 24px;
}
.plain-title {
  font-size: 18px;
}
.small-title {
  font-size: 14px;
}
.description-title {
  @extend .font-normal;
  color: $c-green-600;
  padding-bottom: $gap-l;
  border-bottom: 2px solid $c-green-600;
}

// .content-title {
//   // @extend .font-normal;
//   padding-left: $gap;
//   border-left: 4px solid $c-green-600;
// }
// link
.card-link {
  color: $c-gray-500;
}
.text-link-black {
  color: $c-gray-500;
}
.text-link-white {
  color: $c-white;
}
.text-link-black,
.text-link-white {
  &:hover {
    color: $c-green-600;
  }
}
.text-link {
  color: $c-green-600;
}
// border
.rounded-full {
  border-radius: 9999px;
}
.border-b-gray {
  border-bottom: 1px solid #e8e8e8;
}

// shadow

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
// image
.image-holder {
  img {
    width: 100%;
  }
}
.overflow-hidden {
  overflow: hidden;
}
// color

.text-gray-400 {
  color: #61687c;
}
.text-green-600 {
  color: $c-green-600;
}
