body {
  font-size: 14px;
}
ul {
  list-style: none;
}
a {
  color: $c-primary;
  transition: all 0.3s;
  text-decoration: none;
}

.card-link {
  color: $c-default;
}
.text-link-white {
  color: $c-white;
  &:hover {
    color: $c-primary;
  }
}
